body{
  background: #c5c5c5;
  font-family:Sans-Serif;
}

div{
  text-align: center;
  border: 2px solid black;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 20vh;
  justify-content: center;
  
}

h1{
  color: #4cb8e9;
  text-decoration: underline;
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
  text-decoration: underline;
}

a{
  border: 1px solid black;
  padding: 5px;
  background: black;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}