body{
  background: #c5c5c5;
  font-family: Arial;
}

div{
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
}

label{
  display: block;
  margin: 8px;
  cursor: pointer;
}

h1{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: #4cb8e9;
}

button{
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button:hover{
  background: white;;
  color: black;
  cursor: pointer;
}

a{
  padding: 7px;
  border: 1px solid black;
  text-decoration: none;
  color: white;
  background: black;
}